nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 1%;
    display: inline-block;
    color:#4A4E69;
    border-radius: 8%;
    font-size: larger;
    margin-top: 5vh;

 }
 nav a:hover {
    border: 2px  #4A4E69  solid;
    // background-color: #4A4E69;
  }
 nav{

  text-align: center;
    color: #d0df09;
    background-color: #fefefe;
    height: 15vh;
  }